<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angulay Advancement Services</title>
    <link rel="stylesheet" href="../css/foundation.min.css">
    <script src="../js/angular.js"></script>
    <script src="service-apply.js"></script>
</head>
<body style="padding: 10px;" ng-app="app">
<div ng-controller="FirstCtrl">
    <input type="text" ng-model="data.msg">
    <h2>{{data.msg}}</h2>
</div>

<div ng-controller="SecondCtrl">
    <input type="text" ng-model="data.msg">
    <h2>{{data.msg}}</h2>
</div>
</body>
</html>